* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.myaccount {
  /* border: 2px solid gainsboro; */
  background-color: rgb(247 247 247);
  padding: 25px;
}

/* LEFT NAVBAR */
.navcol {
  max-width: 30%;
  min-width: fit-content;
}

.navlistitem {
  height: 4.1rem;
}
#nav {
  padding-left: 10px;
  font-size: x-large;
}

.list-group-item:hover {
  background-color: #ebe5e5;

}

#navlistitem.hover::before{
  animation: tada 1.5s ease infinite;
}

/* RIGHT COMPONENT */
#heading {
  font-weight: 550;
}

.rightcomponent {
  background-color: white;
  /* border: 2px solid gainsboro; */
}

.profileinfo {
  border: 3px solid rgb(247 247 247);
}

.savebtn {
  background-color: rgb(245 96 73);
  border: rgb(245 96 73);
  color: white;
  font-weight: 700;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 3px 8px 0px black;
}

.savebtn:hover {
  background-color: rgb(245 96 73);
  border: rgb(245 96 73);
}

#required{
  color: 	#FF0000;
}

@media screen and (max-width: 770px) {
  .flexcontainer{
    flex-direction: column;
    --bs-gutter-x:0;
  }
  .navcol{
      max-width: 100%;
      padding-bottom: 30px;
  }
  #formgroup{
      flex-direction: column;
  }
  .profileinfo {
    border: 0;
  }
  .myaccount{
    padding: 10px;
  }
}

